@font-face {
  font-family: 'Flowerbust'; /* A name you choose for your font */
  src: url('/assets/fonts/Flowerbust-Regular.ttf') format('truetype'); /* Path to the WOFF2 file */
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Controls font loading behavior */
}

@font-face {
  font-family: 'Flowering'; /* A name you choose for your font */
  src: url('/assets/fonts/Flowering.otf') format('opentype'); /* Path to the WOFF2 file */
  font-weight: normal;
  font-style: normal;
  font-display: block; /* Controls font loading behavior */
}

:root {
  --color-pink: hotpink; /* Global variable */
  --color-blue: blue; /* Global variable */
  --color-purple: purple; /* Global variable */
  --color-green: limegreen; /* Global variable */
  --color-orange: orange ; /* Global variable */

  --background-color: lightyellow;
  --spacing: 10px;
}

body {
    margin: 0;
    font-family: 'Flowerbust', Arial, Helvetica, sans-serif;
    background: var(--background-color);
    color: #222;
    line-height: 1.6;
}

img.hero {
    width: 140%;
    display: block;
    margin: auto;
}

header {
    background: #fff;
    /* padding: 2rem; */
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 1px;
}

header p {
    margin-top: 0.5rem;
    color: var(--color-pink);
}
nav {
    padding-top: 1rem;
    /* display: flex; */
}

nav a {
    transition: background-color 0.5s ease, color 0.5s ease;
    border-radius: 10px 0;
    text-decoration: none;
    display: block;
    padding: 0 1rem;
    color: black;
    font-size: 1.5rem;
}
nav a:hover {
    background-color: #fff;
}
h3 {
    color: var(--color-pink);
    font-size: 2rem;
}
.opacity-0 { opacity: 0; }
.bg-pink { background-color: var(--color-pink); color: white; }
.bg-blue { background-color: var(--color-blue); }
.bg-purple { background-color: var(--color-purple); color: white; }
.bg-green { background-color: var(--color-green); }
.bg-orange { background-color: var(--color-orange); color: white; }
.colorful * { aspect-ratio: 1/1; }


footer {
    background: #aaa;
    color: #111;
    padding: 2rem;
    text-align: center;
    font-size: 0.85rem;
}

footer a {
    color: #777;
    text-decoration: none;
}

.w-30 {
    width: 30%;
    font-size: 2rem;
}