section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: auto;
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 0;
}

.flowering-band {
    font-family: 'Flowering';
    color: rgb(127 135 207);
    font-size: 1.4rem;
}

.grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}


.box-menu {
    border-radius: 0.5rem;
    box-shadow:
        0 6px 12px rgba(0, 0, 0, 0.18),
        0 18px 30px rgba(0, 0, 0, 0.08);
    transition:
        box-shadow 0.35s cubic-bezier(.25,.8,.25,1); 
    cursor: pointer;
}

.box-menu:hover {
  box-shadow:
    0 12px 20px rgba(0, 0, 0, 0.25),
    0 28px 50px rgba(0, 0, 0, 0.15);
}

.image-placeholder {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-placeholder img {
    width: 100%;
}

.details {
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    color: #555;
}

.materials-list {
    list-style: square;
    padding-left: 1.25rem;
}