
.box-menu {
    border-radius: 0.5rem;
    box-shadow:
        0 6px 12px rgba(0, 0, 0, 0.18),
        0 18px 30px rgba(0, 0, 0, 0.08);
    transition:
        box-shadow 0.35s cubic-bezier(.25,.8,.25,1); 
    cursor: pointer;
    width: 45%;
    font-size: 2rem;
    position: relative;
}

.box-menu:hover {
  box-shadow:
    0 12px 20px rgba(0, 0, 0, 0.25),
    0 28px 50px rgba(0, 0, 0, 0.15);
}

.box-menu img {
    width: 30%;
    position: absolute;
}

.svg-top-right { top: 10px; right: 20px; }
.svg-top-left { top: 10px; left: 20px; }
.svg-bottom-right { bottom: 10px; right: 20px; }
.svg-bottom-left { bottom: 10px; left: 20px; }